<html>
<head><title>Real Deal Bridge Club Members Export</title></head>
<body>
  <p>You requested an export of all sessions that ended between {{startdate}} and {{enddate}}. Please find it attached.</p>
  <p>If you didn't request this, feel free to ignore this email.</p>
</body>
</html>
