<html>
<head><title>Real Deal Bridge Session Results</title></head>
<body>
  <h3>Dear {{name}},</h3>
  <p>Your requested session results for session: {{sessionName}} are attached below.</p>
  <p>If you didn't request this, feel free to ignore this email.</p>
  <img href="{{url}}" src='https://realdealstage.nomoss.dev/TemplateData/logo.png'>
</body>
</html>
