<html>
<head><title>Reset Your Password</title></head>
<body>
  <h3>Dear {{name}},</h3>
  <p>You recently let us know that you've forgotten some of your account information for Real Deal Bridge.</p>
  <p>If you didn't do that, feel free to ignore this email.</p>

  <p>You have multiple accounts listed for your email.</p>
  <br>
    <p>RDB Number: {{rdb1}}</p>
    <p><a href="{{url1}}">Click here</a> to reset your password for RDB: {{rdb1}}</p>
    <br>
   <p>RDB Number: {{rdb2}}</p>
  <p><a href="{{url2}}">Click here</a> to reset your password for RDB: {{rdb2}}</p>
  <img src='https://realdealstage.nomoss.dev/TemplateData/logo.png'>
</body>
</html>
