<html>
<head><title>Your Account Information</title></head>
<body>
  <h3>Dear {{name}},</h3>
  <p>You recently let us know that you've forgotten some of your account information for Real Deal Bridge.</p>
  <p>If you didn't do that, feel free to ignore this email.</p>

  <p>Your RDB Number is: {{rdb}}</p>
  <p>If you would like to reset your password, kindly <a href="{{url}}">click here</a>.</p>
  <img href="{{url}}" src='https://realdealstage.nomoss.dev/TemplateData/logo.png'>
</body>
</html>
