<html>
<head><title>Password has been reset</title></head>
<body>
  <h3>Dear {{name}},</h3>  
  <p>Your password has been reset</p>
  <img src='https://realdealstage.nomoss.dev/TemplateData/logo.png'>
</body>
</html>