<html>
<head><title>Welcome to Real Deal Bridge</title></head>
<body>
  <h3>Hi {{name}},</h3>
  <p>Welcome to Real Deal Bridge!</p>
  <p>Just in case you didn't write it down, your Real Deal Bridge number is {{rdbNumber}}.</p>
  <p>The best way to get started and learn your way around is by heading to our new players webpage, which features video tutorials, new player offers, sample lessons, and tips for optimising your Real Deal Bridge settings for your personal preferences.</p>
  <p>Here is the link - just click it and away you go!</p>
  <a href="https://www.realdealbridge.com/welcome-new-player">https://www.realdealbridge.com/welcome-new-player</a>
  <br>
  <p>If you are using a computer you can also download a copy of Real Deal Bridge and add an easy to click icon to your machine to start the program. A downloaded copy is also strongly recommended for anyone using a computer which is over 5 years old. If you would like to do this go to <a href="https://play.realdealbridge.com/download">https://play.realdealbridge.com/download</a>.</p>
  <br>
  <p>Please don’t hesitate to drop me an email if you have any questions or even just to say hi and introduce yourself and let me know what sort of bridge activities interest you. My email address is <a href="mailto:laura@realdealbridge.com">laura@realdealbridge.com</a>. I look forward to seeing you at a Real Deal Bridge table soon.</p>
  <p>Laura Ginnan</p>
  <p>Managing Director</p>
  <p>Real Deal Bridge</p>
  <img href="https://www.realdealbridge.com" src='https://play.realdealbridge.com/TemplateData/logo.png'>
</body>
</html>
