<!--
The page where you can download the latest version of RDB
-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="Cache-control" content="no-cache">

  <style>
    body {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .rdb-logo {
      max-width: 40%;
      margin-left: auto;
      margin-right: auto;
    }

    .platform-icons {
      margin-top: 20px;
    }

    .platform-link {
      text-align: center;
    }

    .platform {
      width: 33%;
      float: left;
    }

    .platform-img {
      min-height: 100px;
      max-height: 200px;
      padding: 5px;
    }

  </style>

  <script>
    function showWindowsInstructions(){
      document.getElementById("win-instructions").style.display = "block";
      document.getElementById("mac-instructions").style.display = "none";
    }

    function showMacInstructions(){
        document.getElementById("win-instructions").style.display = "none";
        document.getElementById("mac-instructions").style.display = "block";
    }
  </script>

</head>

<body>
  <img class="rdb-logo" src="img/rd-logo.png" alt="Real Deal Logo">
  <h1>Real Deal Bridge</h1>
  <h2>Select the platform you would prefer to play on below.</h2>
  <div class="platform-icons">
  <div class="platform"><a class="platform-link" href="Downloads/Win.zip" onclick="showWindowsInstructions()"><img class="platform-img" src="img/platform/win.png" alt="Windows"><p>Windows</p></a></div>
  <div class="platform"><a class="platform-link" href="Downloads/Mac.zip" onclick="showMacInstructions()"><img class="platform-img" src="img/platform/mac.png" alt="Mac"><p>Mac</p></a></div>
  <div class="platform"><a class="platform-link" href="http://onelink.to/realdeal"><img class="platform-img" src="img/platform/mob.png" alt="Mobile"><p>Mobile</p></a></div>
  </div>
  <p><i>If you'd prefer to play in your web browser, <a href="/">click here.</a></i></p>

  <div id="win-instructions" style="display: none;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uNp83MBuKkI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p><b>Note:</b> Once the download has finished, you will need to right-click on it and select 'Extract All...' to extract the application.</p>
  </div>

  <div id="mac-instructions" style="display: none;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dPAzZo_qegM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p><b>Note:</b> Once the download has finished, you will need to right-click on it and select 'Decompress' to extract the application.</p>
    <p><b>Note:</b> If you get a notification that Real Deal cannot be opened, because the developer cannot be verified, you will need to right-click on the application, and select 'Open'.</p>
  </div>
</body>
