<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="Cache-control" content="no-cache">

  <style>
    html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    body {
      margin: 0;
      background: #444;
    }
    #gameContainer {
      width: 100vw;
      height: 100vh;
    }
    canvas {
      width: 100%;
      height: 100%;
      display: block;
    }
    /* try to handle mobile dialog */
    canvas + * {
      z-index: 2;
    }
    .logo {
        display: block;
        max-width: 100vw;
        max-height: 70vh;
    }

    .progress {
        margin: 1.5em;
        border: 1px solid white;
        width: 50vw;
        display: none;
    }
    .progress .full {
        margin: 2px;
        background: white;
        height: 1em;
        transform-origin: top left;
    }

    #loader {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .spinner,
    .spinner:after {
      border-radius: 50%;
      width: 5em;
      height: 5em;
    }
    .spinner {
      margin: 10px;
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(255, 255, 255, 0.2);
      border-right: 1.1em solid rgba(255, 255, 255, 0.2);
      border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
      border-left: 1.1em solid #ffffff;
      transform: translateZ(0);
      animation: spinner-spin 1.1s infinite linear;
    }
    @keyframes spinner-spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

  </style>
</head>

<body>
  <div id="alreadyOpen" style="display: none; width: 100%; text-align: center;"><h3>You already have a Real Deal window open. Please close it and refresh this page.</h3></div>
  <div id="unsupportedDevice" style="display: none; width: 100%; text-align: center;"><h3>Real Deal for web is not supported on your device. Please <a href="http://onelink.to/realdeal">click here</a> to find a version for your device.</h3></div>
  <div id="gameContainer"></div>
  <div id="loader">
    <img class="logo" src="TemplateData/logo.png"></img>
    <div class="spinner"></div>
    <div class="progress"><div class="full"></div></div>
  </div>

  <!-- BEGIN WEBGL FILE BROWSER LIB -->
  <form id="fileBrowserPopup" style="display: none;">
      <img src="TemplateData/2x2.png" style="position: absolute; width: 100%; height: 100%;" />
      <img src="TemplateData/White-Button.png" style="position: absolute;  top: 35%; left: 38%; width: 25%; height: 30%;" />

      <label for="fileToUpload">
          <img src="TemplateData/upload_button.png" style="position: absolute; top: 45%; left: 42.8%; width: 16%; height: 10%;" />
      </label>
      <input type="File" name="fileToUpload" id="fileToUpload" style="width: 0px; height: 0px;" onchange="sendfile(event);return false;" />

      <label for="closePopup">
          <img src="TemplateData/close_button.png" style="position: absolute; top: 57%; left: 48.0%; width: 5%; height: 5%;" />
      </label>
      <input type="button" name="closePopup" id="closePopup" style="width: 0px; height: 0px;" onclick="hidePopup()" />
  </form>



  <!-- END WEBGL FILE BROWSER LIB -->

  <!-- START PHOTON ACTIVE SCRIPT -->
  <script>
var isActive;
document.onload = function(){
document.addEventListener('visibilitychange', function () {
if (document.visibilityState == "hidden") {
  isActive = setInterval(function() { gameInstance.SendMessage("PUNManager", "SendServerAcks"); }, 250);
} else {
  clearInterval(isActive);
  isActive = false;
}
});
}
</script>

  <!-- END PHOTON ACTIVE SCRIPT -->

  <!-- START ENVIRONMENT HELPER SCRIPT -->
  <script>
    var env = '<%= process.env.ENVIRONMENT %>';
    console.log("Environment: " + env);
    function GetEnv(){
      return env;
    }
  </script>

  <!-- END ENV HELPER SCRIPT -->

</body>

<script type='text/javascript'>
  function IsMobileOrTablet(){
    let check = false;
    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);

    if(!check){
      var isIPadPro = /Macintosh/.test(navigator.userAgent) && 'ontouchend' in document;
      if(isIPadPro){
        check = true;
      }
    }

    if(!check){
      const toMatch = [
        /Android/i,
        /webOS/i,
        /iPhone/i,
        /iPad/i,
        /iPod/i,
        /BlackBerry/i,
        /Windows Phone/i
      ];

      check = toMatch.some((toMatchItem) => {
        return navigator.userAgent.match(toMatchItem);
      });
    }

    return check;
  }

  function IsSafari(){
    var ua = navigator.userAgent.toLowerCase();
    if (ua.indexOf('safari') != -1) {
      if (ua.indexOf('chrome') > -1) {
        //Chrome
        return false;
      } else {
        //Safari
        return true;
      }
    }

    return false;
  }

</script>

<script>
//Block multiple tabs from being open at the same time
localStorage.openpages = Date.now();
var onLocalStorageEvent = function(e){
  if(e.key == "openpages"){
    // Emit that you're already available.
    localStorage.page_available = Date.now();
  }
  if(e.key == "page_available"){
    if(!IsSafari()){
      alert("You already have a Real Deal window open. Please close it and refresh the page.");
      document.getElementById("gameContainer").style.display = "none";
      document.querySelector("#loader").style.display = "none";
      document.getElementById("alreadyOpen").style.display = "block";
      document.body.style.background = "#ffffff";
    }
  }
};
window.addEventListener('storage', onLocalStorageEvent, false);

</script>

<script type='text/javascript'>
    function sendfile(e) {
        var files = e.target.files;
        for (var i = 0, f; f = files[i]; i++) {
            var reader = new FileReader();
            reader.onload = (function (file) {
                return function (e) {
                    gameInstance.SendMessage('FileBrowserDialogLib', 'ApplyFileName', escape(file.name));

                    (window.filedata = window.filedata ? window.filedata : {})[file.name] = e.target.result;
                    gameInstance.SendMessage("FileBrowserDialogLib", "FileUpload", file.name);
                }
            })(f);
            reader.readAsArrayBuffer(f);
        }
    }
    function hidePopup() {
        gameInstance.SendMessage("FileBrowserDialogLib", "CloseFilePopupDialog");
    }
</script>

<script type='text/javascript'>
  //This is the stuff to print an image

  function ImagetoPrint(source)
  {
    console.log("Creating print page");
    return "<html><head><scri"+"pt>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</scri" + "pt></head><body onload='step1()'>\n" +
            "<img src='" + source + "' style='max-width:3508px; max-height: 2480'/></body></html>";
  }

  var pwa = null;

  function PrintImage(source)
  {
    console.log("Received " + source.length + " bytes to print");
    var srcString = "data:image/png;base64,";

    var binaryString = '';
    for(var i = 0; i < source.length; i++){
      binaryString += String.fromCharCode(source[i]);
    }

    srcString += btoa(binaryString);

    var Pagelink = "about:blank";
    if(pwa == null || pwa.closed){
      var pwa = window.open(Pagelink, "_new");

      if(pwa == null){
        alert("You or your browser has disabled popups for this site. Please adjust your browser settings then try again.");
      }else{
        pwa.document.open();
        pwa.document.write(ImagetoPrint(srcString));
        pwa.document.close();
      }
    }else{
      pwa.focus();
    }

    console.log("Printed");
  }
</script>


<script type='text/javascript'>
    function FilterOfTypes(types) {
        document.getElementsByName("fileToUpload")[0].accept = types;
    }
</script>

<script src="Build/UnityLoader.js"></script>

<script>

if(IsMobileOrTablet()){
  //Show the 1link thing
  document.getElementById("unsupportedDevice").style.display = "block";
  document.getElementById("gameContainer").style.display = "none";
  document.querySelector("#loader").style.display = "none";
  document.body.style.background = "#ffffff";
}else{
  Instantiate();
}

var gameInstance;
function Instantiate(){
  gameInstance = UnityLoader.instantiate("gameContainer", "Build/RealDealWeb.json", {onProgress: UnityProgress});
}
function UnityProgress(gameInstance, progress) {
  if (!gameInstance.Module) {
    return;
  }
  const loader = document.querySelector("#loader");
  if (!gameInstance.progress) {
    const progress = document.querySelector("#loader .progress");
    progress.style.display = "block";
    gameInstance.progress = progress.querySelector(".full");
    loader.querySelector(".spinner").style.display = "none";
  }
  gameInstance.progress.style.transform = `scaleX(${progress})`;
  if (progress === 1 && !gameInstance.removeTimeout) {
    gameInstance.removeTimeout = setTimeout(function() {
        loader.style.display = "none";
    }, 100);
  }
}
</script>
