<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
.pass_show{position: relative} 

.pass_show .ptxt { 

  position: absolute; 

  top: 50%; 

  right: 10px; 

  z-index: 1; 

  color: #f36c01; 

  margin-top: -10px; 

  cursor: pointer; 

  transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 

</style>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <form name="changePasswordForm" action='/api/auth/reset-password' onSubmit="return checkPassword(this)" method="post">  
    <div class="row">
      <div class="col-sm-4">
        <label>New Password</label>
        <div class="form-group pass_show"> 
            <input name="p1" type="password" value="" class="form-control" placeholder="New Password"> 
        </div> 
        <label>Confirm Password</label>
        <div class="form-group pass_show"> 
            <input name="p2" type="password" value="" class="form-control" placeholder="Confirm Password"> 
        </div> 
        <input type="submit" value="submit">
      </div>  
    </div>
  </form>
</div>

<script> 

  function checkPassword() {
    var x = document.forms["changePasswordForm"]["p1"].value;
    var y = document.forms["changePasswordForm"]["p2"].value;
    if (x !== y) {
      alert("The passwords must match!");
      return false;
    }
  }
    
  $(document).ready(function(){
    $('.pass_show').append('<span class="ptxt">Show</span>');  
  });

  $(document).on('click','.pass_show .ptxt', function(){ 
    $(this).text($(this).text() == "Show" ? "Hide" : "Show"); 
    $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 
  });  

</script>